.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.App button {
  padding: .5rem 1rem;
  border-radius: 15px;
  border-color: green;
  font-weight: 600;
}

.App button:hover {
  background-color: rgb(218, 236, 252);
  cursor: pointer;
}